#binary{
    color: black;
    width: 20vw;
    height:40vh;
    position: absolute;
    left: 8vw;
    top: 30vh;
}
#convert{
    position:absolute;
    width:5vw;
    height: 5vh;
    left: 32vw;
    top: 48vh;
}
#hex{
    color: black;
    width: 20vw;
    height:40vh;
    position: absolute;
    left: 40vw;
    top: 30vh;
}
#ASCII{
  position: absolute;
    color: black;
    width: 20vw;
    height:40vh;
    right: 8vw;
    top: 30vh;
}
#btn-toASCII{
  position: absolute;
  width: 5vw;
  height: 5vh;
  top: 48vh;
  right: 31.5vw;
}
textarea{
    resize: none;
}